.python-kw {
	font-weight: bold;
	color: #A0D2E5;
}

.python-comma {
	color: #ccc;
}
.python-colon {
	color: #ccc;
}
.python-paren {
	color: #ccc;
}
.python-op {
	color: #ccc;
}

.python-comment {
	color: #aaa;
}

.python-string {
	color: #e8c300;
}

.python-number {
	color: #5BD000;
}

.python-skip {
	opacity: 0.3;
}

.python-slider {
	display: inline-flex;
	vertical-align: baseline;
	gap: 0.5em;
	align-items: center;
	accent-color: #A0D2E5;
}

.python-slider > input {
	margin: 0;
	padding: 1em;
}

.python-noselect {
	user-select: none;
}